<!--<nav mat-tab-nav-bar>-->
<!--  <a mat-tab-link [routerLink]="['/patients']" routerLinkActive #patients="routerLinkActive">-->
<!--    Patients-->
<!--  </a>-->
<!--  <a mat-tab-link [routerLink]="['/history']" routerLinkActive #history="routerLinkActive">-->
<!--    Historique-->
<!--  </a>-->
<!--</nav>-->

<!--<div class="container-fluid" style="padding: 20px 40px;">-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->


<!--<mat-tab-group animationDuration="0ms">-->
<!--  <mat-tab label="First"><patient></patient></mat-tab>-->
<!--  <mat-tab label="Second"><history></history></mat-tab>-->
<!--  <mat-tab label="Third">Content 3</mat-tab>-->
<!--</mat-tab-group>-->


<navigation></navigation>
<router-outlet></router-outlet>
